<table mat-table [dataSource]="spots">

    <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef> Spot number </th>
        <td mat-cell *matCellDef="let spot"> {{ spot.pk.split('_')[1] }} </td>
    </ng-container>

    <ng-container matColumnDef="spotType">
        <th mat-header-cell *matHeaderCellDef> Spot type </th>
        <td mat-cell *matCellDef="let spot"> {{ spot.spot_type }} </td>
    </ng-container>

    <ng-container matColumnDef="vehicleType">
        <th mat-header-cell *matHeaderCellDef> Vehicle type </th>
        <td mat-cell *matCellDef="let spot"> {{ spot.vehicle_type }} </td>
    </ng-container>
    
    <ng-container matColumnDef="allocated">
        <th mat-header-cell *matHeaderCellDef> Allocated </th>
        <td mat-cell *matCellDef="let spot">
            <mat-icon *ngIf="spot.license_plate != null; else empty">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#64eb34">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/>
                </svg>
            </mat-icon>
            <ng-template #empty>
                <mat-icon>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#d90404">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"/>
                    </svg>
                </mat-icon>
            </ng-template>
        </td>
    </ng-container>

    <ng-container matColumnDef="licensePlate">
        <th mat-header-cell *matHeaderCellDef> License plate </th>
        <td mat-cell *matCellDef="let spot"> {{ spot.license_plate }} </td>
    </ng-container>

    <ng-container matColumnDef="allocatedTime">
        <th mat-header-cell *matHeaderCellDef> Allocated time </th>
        <td mat-cell *matCellDef="let spot"> {{ spot.timestamp | date:'medium' }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let spot">
            <button (click)="selectSpot(spot)" mat-icon-button>
                <mat-icon>select</mat-icon>
            </button>
            <button (click)="releaseSpot(spot)" mat-icon-button>
                <mat-icon>release</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let spot; columns: displayedColumns"></tr>

</table>